<h1>Points</h1>
<h2><%= @points.class %></h2>

<div id = 'cy'></div>


<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
<script>
	cytoscape({
		container: document.getElementById('cy'),

		elements: {
			nodes: [
				<% @points.each do |i| %>
				{
					data: { id: <%= i.id %> }
				},
				<% end %>
			],
		},

		style: [
			{
				selector: 'node',
				style: {
					'label': 'data(id)'
				}
			}
		]

	});
</script>