	<head>
		<title>cytoscape-automove.js demo</title>

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

		<!-- for testing with local version of cytoscape.js -->
		<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

		<%# <script src="cytoscape-automove.js"></script> %>

		<script type='module'>
		import { FetchRequest } from '@rails/request.js'

		document.addEventListener('DOMContentLoaded', function(){
		var cy = window.cy =
			cytoscape({
				container: document.getElementById('cy'),

				elements: {
					nodes: [
						<% @points.each do |i| %>
						{
							data: { id: <%= i.id %>},
							position: { x: <%= i.x %>, y: <%= i.y %> }
						},
						<% end %>
					]
				},

				style: [
					{
						selector: 'node',
						style: {
							'label': 'data(id)',
							'color': '#008b8b'
						}
					}
				],
				layout: {
					name: 'preset',
				}
			});


			cy.on('click', async function( evt ){
				var tgt = evt.target;
				const x = evt.position.x
				const y = evt.position.y

				// if( tgt === cy ){
				// 	fetch('/posits', {
				// 		method: 'POST',
				// 		headers: {
				// 			'Content-Type': 'application.json',
				// 			'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
				// 		},
				// 		body: JSON.stringify({ point: {x: x, y: y} })
				// 	}).then(response => response.json())
				// 	  .then(data => console.log('Point saved', data))
				// 	  .catch(error => console.error('Error:', error));
				if ( tgt === cy ) {
					// cyをタップした場合は、ノードを追加
						const request = new FetchRequest('post', '/points', {
          body: JSON.stringify({ point: { x: x, y: y } }),
          contentType: 'application/json', // リクエストがJSONであることを指定
        });
		
        const response = await request.perform();
					  cy.add({
						classes: 'automove-viewport',
						group: 'nodes',
						data: { id: 'Z' + Math.round( Math.random() * 100 ) },
						position: {
							x: evt.position.x,
							y: evt.position.y
						}
					});
				} else {
					// ノードをタップした場合
				};
			});
		});
		
			// document.addEventListener('DOMContentLoaded', function(){

			// 	var cy = window.cy = cytoscape({
			// 		container: document.getElementById('cy'),

			// 		layout: {
			// 			name: 'preset'
			// 		},

			// 		style: [
			// 			{
			// 				selector: 'node',
			// 				style: {
			// 					'label': 'data(id)'
			// 				}
			// 			},

			// 			{
			// 				selector: '.mid',
			// 				style: {
			// 					'width': 8,
			// 					'height': 8,
			// 					'label': ''
			// 				}
			// 			}
			// 		],

			// 	});

			// 	cy.on('tap', function( evt ){
			// 		var tgt = evt.target || evt.cyTarget; // 3.x || 2.x
			// 		const x = evt.position.x
			// 		const y = evt.position.y

			// 		if( tgt === cy ){
			// 			cy.add({
			// 				classes: 'automove-viewport',
			// 				data: { id: 'Z' + Math.round( Math.random() * 100 ) },
			// 				position: {
			// 					x: evt.position.x,
			// 					y: evt.position.y
			// 				}
			// 			});
			// 		}

			// 		// 座標を送信
			// 		fetch('/points', {
			// 			method:'POST',
			// 			headers: {
			// 				'Content-Type': 'application/json',
			// 				'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
			// 			},
			// 			body: JSON.stringify({ point: {x: x, y: y} })
			// 		}).then(response => response.json())
			// 		  .then(data => console.log('Point saved', data))
			// 		  .catch(error => console.error('Error:', error));
			// 	});

			// 	// 点の削除（２本指タップ）
			// 	// cy.on('cxttap', 'node', function( evt ){
			// 	// 	var tgt = evt.target || evt.cyTarget; // 3.x || 2.x

			// 	// 	tgt.remove();
			// 	// });

			// });
		</script>
		
	</head>

	<body>
		<h1>cytoscape-automove demo</h1>
			<div id="cy"></div>
	</body>
