	<head>
		<title>cytoscape-automove.js demo</title>

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

		<!-- for testing with local version of cytoscape.js -->
		<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

		<%# <script src="cytoscape-automove.js"></script> %>
		<script>
			document.addEventListener('DOMContentLoaded', function(){

				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					layout: {
						name: 'preset'
					},

					style: [
						{
							selector: 'node',
							style: {
								'label': 'data(id)'
							}
						},

						{
							selector: '.mid',
							style: {
								'width': 8,
								'height': 8,
								'label': ''
							}
						}
					],

				});

				// // ここからデータベース内の点を取得して表示する
				// document.addEventListener('DOMContentLoaded', function() {
				// 	fetch('/points')
				// 	.then(response => response.json())
				// 	.then(data => {
				// 		console.log(data);
				// 		const output = document.getElementById('output');
				// 		output.innerHTML = JSON.stringify(data);
				// 	})
				// 	.catch(error => {
				// 		console.console.error('Error:', error);
				// 	});
				// });
				// // ここまで


				cy.on('tap', function( evt ){
					var tgt = evt.target || evt.cyTarget; // 3.x || 2.x
					const x = evt.position.x
					const y = evt.position.y

					if( tgt === cy ){
						cy.add({
							classes: 'automove-viewport',
							data: { id: 'Z' + Math.round( Math.random() * 100 ) },
							position: {
								x: evt.position.x,
								y: evt.position.y
							}
						});
					}

					// 座標を送信
					fetch('/points', {
						method:'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
						},
						body: JSON.stringify({ point: {x: x, y: y} })
					}).then(response => response.json())
					  .then(data => console.log('Point saved', data))
					  .catch(error => console.error('Error:', error));
				});

				cy.on('cxttap', 'node', function( evt ){
					var tgt = evt.target || evt.cyTarget; // 3.x || 2.x

					tgt.remove();
				});

			});
		</script>
	</head>

	<body>
		<h1>cytoscape-automove demo</h1>

		<div id="cy"></div>
		</div>

	</body>
