/* body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
} */

#cy {
    width: 800px;
    height: 700px;
    display: block;
    border: solid, black;
  }

  #select_node {
    position: fixed; 
    right: 10px;
    top: 500px;
    padding: 6px 40px;
    border: solid black;
  }

/* div#cy {
    position: absolute;
    left: 0px;
    top: 175px;
    bottom: 0px;
    right: 0px;
    border: solid, black;
    z-index: 999;
} */

/* h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
} */

